/** Custom CSS - By Tomer **/
#rev_slider_1_1_wrapper .tparrows {
    display: none;
}

/* First App */
.first_app{
    margin-top:-19px;
}
.first_app .right_area{
    width:65%;
    float:right;
}

.first_app .right_area img {
    width: 100%;
}
.first_app .left_area{
    width:35%;
    float: left;
    text-align: center;
    min-height: 100%;
    background: white;
}
.first_app .app_title{
    font-size:26px;
    margin: 0;
    line-height: 26px;
}
.first_app .profile_image_cont{
    border: 2px solid red;
    border-radius: 100%;
    overflow: hidden;
    width: 34%;
    margin: 10px auto 5px;
}
.first_app .profile_image_icon{
    border: 2px solid black;
    border-radius: 25%;
    overflow: hidden;
    width: 6%;
    position: absolute;
    z-index:5;
    left: 10%;
    top: 2%;
    background: rgba(255, 255, 255, 0.87);
    display: inline-block;
}

.first_app .app_author {
    padding: 0;
    margin: 0;
}
.first_app .app_popup{
    width:80%;
    background:black;
    color:white;
    margin:0 auto;
}
.first_app .app_popup a{
    display:block;
    font-size: 16px;
    line-height: 35px;
}
.first_app .app_popup a:hover, .first_app .app_popup a:focus {
    color: #CECECE;
}
.first_app .app_desc {
    line-height: 14px;
    margin-top: 10px;
    text-align: right;
    padding-left: 15%;
    padding-right: 5%;
    margin-bottom: 5px;
}
.first_app .app_comp {
    display: inline-block;
    margin-left: 40%;
    padding: 1% 8% 0% 0%;
}

.first_app .app_reviews {
    display: inline-block;
    float: left;
    border-right: 1px solid #E2E2E2;
    padding: 2% 4% 2% 5%;
}
.first_app .app_bar img {
    display: block;
    margin: 1px auto;
}
.first_app .app_bar span {
    line-height: 15px;
    vertical-align: top;
    color: #4D4D4D;
}
.first_app .app_bar {
    padding: 0;
    background: #F7F7F7;
}

/* Develiper Area */
.developer_area .top_area{
    width:100%;
}

.developer_area .top_area img {
    width: 100%;
}
.developer_area .dev_title{
    font-size:26px;
    margin: 0;
    line-height: 26px;
}
.developer_area .bottom_area {
    background: #F7F7F7;
    padding: 2.5%;
    text-align: center;
}
.developer_area .dev_popup{
    width:80%;
    background:black;
    color:white;
    margin:0 auto;
}
.developer_area .dev_popup a{
    display:block;
    font-size: 20px;
    line-height: 35px;
}
.developer_area .dev_popup a:hover, .developer_area .dev_popup a:focus {
    color: #CECECE;
}
.developer_area .dev_desc {
    line-height: 17px;
    margin-top: 10px;
    text-align: right;
    padding-left: 0%;
    padding-right: 5%;
    margin-bottom: 5%;
}

/* Single App */
.single_app{
    text-align: center;
    background: white;
    position: relative;
    padding-top: 2%;
    width: 22%;
    border: 1px solid #C1C0C0;
    margin-left: 1%;
    margin-right: 1.7%;
    display: inline-block;
}
.single_app .app_title{
    font-size:26px;
    margin: 0;
    line-height: 26px;
}
.single_app .profile_image_cont{
    border: 2px solid red;
    border-radius: 100%;
    overflow: hidden;
    width: 34%;
    margin: 0 auto;
    margin-bottom: 5%;
}
.single_app .profile_image_icon{
    border: 2px solid black;
    border-radius: 25%;
    overflow: hidden;
    width: 18%;
    position: absolute;
    z-index:5;
    left: 26%;
    top: 3%;
    background: rgba(255, 255, 255, 0.87);
    display: inline-block;
}
.single_app .app_author {
    padding: 0;
    margin: 0;
}
.single_app .app_popup{
    width:80%;
    background:black;
    color:white;
    margin:0 auto;
}

.new_idea .app_popup {
    margin-bottom: 19%;
}
.single_app .app_popup a{
    display:block;
    font-size: 16px;
    line-height: 35px;
}
.single_app .app_popup a:hover, .single_app .app_popup a:focus {
    color: #CECECE;
}
.single_app .app_desc {
    line-height: 14px;
    margin-top: 10px;
    text-align: right;
    padding-left: 15%;
    padding-right: 5%;
    margin-bottom: 5px;
}
.single_app .app_comp {
    display: inline-block;
    margin-left: 40%;
    padding: 1% 6% 0% 0%;
}

.single_app .app_reviews {
    display: inline-block;
    float: left;
    border-right: 1px solid #E2E2E2;
    padding: 2% 4% 2% 5%;
}
.single_app .app_bar img {
    display: block;
    margin: 1px auto;
    max-width: 48px;
    max-height: 26px;
}
.single_app .app_bar span {
    line-height: 15px;
    vertical-align: top;
    color: #4D4D4D;
}
.single_app .app_bar {
    padding: 0;
    background: #F7F7F7;
}

/* Comp Icons */
.comp_icons{
    display: block;
}
.comp_icons .app_comp {
    display: inline-block;
    padding: 1% 0% 0% 0%;
    width: 17%;
}
.comp_icons .app_bar img {
    display: block;
    margin: 1px auto;
    max-width: 48px;
    max-height: 26px;
}
.comp_icons .app_bar span {
    line-height: 15px;
    vertical-align: middle;
    color: #4D4D4D;
    text-align: center;
    display: block;
}
.comp_icons .app_bar {
    padding: 0;
    margin-right: 6%;
}

/* New Idea */
.new_idea{
    background: #E8E8E8;
    padding-top: 4%;
    border: 3px dashed #8E8E8E;
    vertical-align: top;
}
.new_idea .app_desc{
    font-size: 15px;
    text-align:center;
    line-height: 23px;
    padding: 7%;
}

.new_idea .app_title {
    width: 85%;
    margin: 0 auto;
}
.new_idea .app_popup a{
    font-size:25px;
}

/* Homepage */
.home .section .columns {
    margin-left: -15px;
    margin-right: -15px;
    background: repeating-linear-gradient( to right, #DADADA, #DADADA 75px, #E8E8E8 0px, #E8E8E8 90px );
}
.home {
    background: #E8E8E8;
}
.home h2 {
    padding-right: 10px;
}
.load_more_btn{
    margin-bottom:25px;
    width:200px;
}
/* Main Banner */
#builder-section-4 .columns {
    background: none !important;  
}
#builder-section-4  {
    background-size: cover !important;
}
#builder-section-4 p {
    font-size: 20px;
}