/*! poza - v1.0.2 - 29-10-2015 */
/*-------------------------------------- RTL --------------------------------------------*/
body.rtl {
  /* Large Desktop */
  /* Landscape phone to portrait tablet */
  /* Landscape phones and down */
}
body.rtl .pojo-loadmore-wrap .pojo-loading:before,
body.rtl .pojo-loading-wrap .pojo-loading:before {
  margin-left: 5px;
  margin-right: 0;
}
body.rtl #top-bar ul.social-links li {
  border-right: none;
  border-left: 1px solid #424242;
}
body.rtl #top-bar ul.social-links li:first-child {
  border-right: 1px solid #424242;
}
body.rtl .sf-menu li {
  float: right;
}
body.rtl .sf-menu li:hover ul,
body.rtl .sf-menu li.sfHover ul {
  left: auto;
  right: 50%;
}
body.rtl .sf-menu li:hover ul li,
body.rtl .sf-menu li.sfHover ul li {
  right: -50%;
  left: auto;
}
body.rtl ul.sf-menu li li:hover ul,
body.rtl ul.sf-menu li li.sfHover ul,
body.rtl ul.sf-menu li li li:hover ul,
body.rtl ul.sf-menu li li li.sfHover ul {
  right: 230px;
  left: auto;
}
body.rtl ul.sf-menu li li:hover ul li,
body.rtl ul.sf-menu li li.sfHover ul li,
body.rtl ul.sf-menu li li li:hover ul li,
body.rtl ul.sf-menu li li li.sfHover ul li {
  left: auto;
  right: 0;
}
body.rtl #title-bar .breadcrumbs {
  text-align: left;
}
body.rtl #primary #content #main.sidebar-left {
  float: left;
}
body.rtl .entry-meta span {
  margin-right: 5px;
  margin-left: 0;
}
body.rtl .entry-meta span:before {
  margin-left: 5px;
  margin-right: 0;
}
body.rtl .entry-meta span:first-child {
  margin-right: 0;
}
body.rtl .entry-meta span:first-child:before {
  content: '';
  margin-left: 0;
  margin-right: 0;
}
body.rtl article.sticky:before {
  right: auto;
  left: 10px;
}
body.rtl .single-gallery-content-left .gallery-thumbnail {
  float: left;
}
body.rtl .single-gallery-content-left .gallery-content {
  float: right;
}
body.rtl #sidebar .widget-title:after {
  left: 0;
  right: auto;
}
body.rtl #sidebar .menu li:before,
body.rtl #sidebar .sub-menu li:before,
body.rtl #sidebar .sub-page-menu li:before {
  margin-left: 10px;
  margin-right: 0;
}
body.rtl .opening-hours-wrap .day-row .day-title {
  float: right;
}
body.rtl .opening-hours-wrap .day-row .day-time {
  float: left;
  text-align: left;
}
body.rtl .form-search input {
  left: auto;
  right: 0;
  padding: 0 9px 0 0;
}
body.rtl .form-search button {
  left: 0;
  right: auto;
}
body.rtl .commentlist ul.children {
  margin-right: 30px;
  margin-left: 0;
}
body.rtl .commentlist .media .pull-left {
  margin-left: 30px;
  margin-right: 0;
}
body.rtl .commentlist .comment-reply-link:before {
  margin-right: 0;
  margin-left: 5px;
}
body.rtl .nav-main .pojo-menu-cart li.cart-content a img {
  float: left;
  margin-right: 10px;
  margin-left: 0;
}
body.rtl .nav-main .pojo-menu-cart li.cart-checkout .cart-link {
  float: right;
}
body.rtl .nav-main .pojo-menu-cart li.cart-checkout .checkout-link {
  float: left;
}
body.rtl.woocommerce ul.products li.product .image-link span.onsale,
body.rtl.woocommerce-page ul.products li.product .image-link span.onsale {
  right: 0;
  left: auto;
}
body.rtl.woocommerce ul.products li.product .star-rating,
body.rtl.woocommerce-page ul.products li.product .star-rating {
  display: inline-block;
}
body.rtl.woocommerce span.onsale,
body.rtl.woocommerce-page span.onsale {
  right: 0;
  left: auto;
}
body.rtl .pull-left {
  float: right !important;
}
body.rtl .pull-right {
  float: left !important;
}
body.rtl .col-sm-1,
body.rtl .col-sm-2,
body.rtl .col-sm-3,
body.rtl .col-sm-4,
body.rtl .col-sm-5,
body.rtl .col-sm-6,
body.rtl .col-sm-7,
body.rtl .col-sm-8,
body.rtl .col-sm-9,
body.rtl .col-sm-10,
body.rtl .col-sm-11,
body.rtl .col-md-1,
body.rtl .col-md-2,
body.rtl .col-md-3,
body.rtl .col-md-4,
body.rtl .col-md-5,
body.rtl .col-md-6,
body.rtl .col-md-7,
body.rtl .col-md-8,
body.rtl .col-md-9,
body.rtl .col-md-10,
body.rtl .col-md-11 {
  float: right;
}
@media (min-width: 1024px) {
  body.rtl #primary #main.sidebar-right + #sidebar {
    padding-right: 45px;
    padding-left: 15px;
  }
  body.rtl #primary #main.sidebar-left + #sidebar {
    padding-left: 45px;
    padding-right: 15px;
  }
  body.rtl.woocommerce #content div.product div.summary,
  body.rtl.woocommerce-page #content div.product div.summary {
    padding-right: 45px;
    padding-left: 15px;
  }
}
@media (max-width: 767px) {
  body.rtl .col-sm-1,
  body.rtl .col-sm-2,
  body.rtl .col-sm-3,
  body.rtl .col-sm-4,
  body.rtl .col-sm-5,
  body.rtl .col-sm-6,
  body.rtl .col-sm-7,
  body.rtl .col-sm-8,
  body.rtl .col-sm-9,
  body.rtl .col-sm-10,
  body.rtl .col-sm-11,
  body.rtl .col-md-1,
  body.rtl .col-md-2,
  body.rtl .col-md-3,
  body.rtl .col-md-4,
  body.rtl .col-md-5,
  body.rtl .col-md-6,
  body.rtl .col-md-7,
  body.rtl .col-md-8,
  body.rtl .col-md-9,
  body.rtl .col-md-10,
  body.rtl .col-md-11 {
    float: none;
  }
  body.rtl .media > .pull-left {
    margin-left: 20px;
    margin-right: 0;
  }
  body.rtl #header .logo,
  body.rtl .sticky-header .logo {
    float: none;
  }
  body.rtl #header .logo .logo-img,
  body.rtl .sticky-header .logo .logo-img,
  body.rtl #header .logo .logo-text,
  body.rtl .sticky-header .logo .logo-text {
    float: right;
  }
  body.rtl #header .logo .navbar-toggle,
  body.rtl .sticky-header .logo .navbar-toggle {
    float: left;
  }
  body.rtl #header .nav-main,
  body.rtl .sticky-header .nav-main {
    float: none;
  }
  body.rtl #title-bar .title-primary,
  body.rtl #title-bar .breadcrumbs {
    text-align: center;
  }
  body.rtl #primary #content #main.sidebar-left,
  body.rtl #primary #content #main.sidebar-right {
    float: none;
  }
  body.rtl .single-gallery-content-left .gallery-thumbnail,
  body.rtl .single-gallery-content-left .gallery-content {
    float: none;
  }
  body.rtl.woocommerce h1.page-title,
  body.rtl.woocommerce-page h1.page-title,
  body.rtl.woocommerce #breadcrumbs,
  body.rtl.woocommerce-page #breadcrumbs {
    float: none;
  }
  body.rtl #copyright {
    text-align: center;
  }
}
@media (max-width: 480px) {
  body.rtl .media > .pull-left {
    float: none !important;
    margin: auto;
  }
  body.rtl #sidebar .media.list-item .pull-left,
  body.rtl #sidebar-footer .media.list-item .pull-left {
    float: right;
  }
}
