/*! poza - v1.0.2 - 29-10-2015 */
/*= RTl
---------------------------------------*/
body.rtl .column-1,
body.rtl .column-2,
body.rtl .column-3,
body.rtl .column-4,
body.rtl .column-5,
body.rtl .column-6,
body.rtl .column-7,
body.rtl .column-8,
body.rtl .column-9,
body.rtl .column-10,
body.rtl .column-11,
body.rtl .column-12 {
  float: right;
}
body.rtl .atmb-repeater-row {
  padding-right: 0;
  padding-left: 20px;
}
body.rtl .row-sortable-handle {
  right: auto;
  left: 0;
}
body.rtl .radio-image-item {
  padding-right: 0;
  padding-left: 10px;
}
body.rtl #ppf-post-cpt-post .atmb-taxonomy_terms .atmb-checkbox-list-item {
  margin-right: 180px;
  margin-left: 0;
}
body.rtl #page-builder .pb-column-1,
body.rtl #page-builder .pb-column-2,
body.rtl #page-builder .pb-column-3,
body.rtl #page-builder .pb-column-4,
body.rtl #page-builder .pb-column-5,
body.rtl #page-builder .pb-column-6,
body.rtl #page-builder .pb-column-7,
body.rtl #page-builder .pb-column-8,
body.rtl #page-builder .pb-column-9,
body.rtl #page-builder .pb-column-10,
body.rtl #page-builder .pb-column-11,
body.rtl #page-builder .pb-column-12 {
  float: right;
}
body.rtl #pb-rows .pb-row {
  padding: 20px 20px 20px 30px;
}
body.rtl #pb-rows .pb-row-setting-toggle {
  padding: 5px 20px;
  margin: 0 -20px -20px;
}
body.rtl #pb-rows .pb-row-setting-toggle .pb-row-setting-left {
  float: right;
}
body.rtl #pb-rows .pb-row-setting-toggle .pb-row-setting-right {
  float: left;
}
body.rtl #pb-rows .pb-row-setting-content {
  margin-left: -30px;
  margin-right: -20px;
}
body.rtl #pb-rows .pb-row-widgets > .pb-advanced-column > .pb-widget-columns {
  padding: 10px 0 0 20px;
}
body.rtl #pb-rows .pb-resize {
  float: right;
}
body.rtl #pb-rows .pb-toggle {
  float: left;
}
body.rtl #pb-rows .pb-row .pb-advanced-columns .pb-advanced-column .pb-column-display-width {
  right: auto;
  left: 10px;
}
body.rtl #pb-rows .pb-row .pb-advanced-columns .pb-advanced-column .pb-column-tools .pb-resize {
  float: right;
}
body.rtl .pb-row-tools {
  left: 0;
  right: auto;
}
body.rtl .pb-builder-placeholder {
  float: right;
}
body.rtl .field-repeater .field-repeater-list .field-repeater-row .field-row-actions .number-row {
  float: right;
}
body.rtl .field-repeater .field-repeater-list .field-repeater-row .field-row-actions .item-actions {
  float: left;
}
body.rtl .field-repeater .field-repeater-list .field-repeater-row .field-row-actions a.btn-remove-current-row,
body.rtl .field-repeater .field-repeater-list .field-repeater-row .field-row-actions a.btn-edit-current-row {
  text-decoration: none;
}
body.rtl .field-repeater .field-repeater-list .field-repeater-row .field-row-actions a.btn-remove-current-row:before,
body.rtl .field-repeater .field-repeater-list .field-repeater-row .field-row-actions a.btn-edit-current-row:before {
  margin-right: 0;
  margin-left: 2px;
}
body.rtl .pb-add-row-options .pb-add-row-btn.c-75-25:before {
  content: '\e844';
}
body.rtl .pb-add-row-options .pb-add-row-btn.c-25-75:before {
  content: '\e843';
}
body.rtl .pb-add-row-options .pb-add-row-btn.c-33-66:before {
  content: '\e846';
}
body.rtl .pb-add-row-options .pb-add-row-btn.c-66-33:before {
  content: '\e845';
}
body.rtl .pb-add-row-options .pb-add-row-btn.c-50-25-25:before {
  content: '\e847';
}
body.rtl .pb-add-row-options .pb-add-row-btn.c-25-25-50:before {
  content: '\e848';
}
body.rtl .templates-library-actions {
  float: left;
}
body.rtl .atmb-slides li.atmb-repeater-row .atmb-image,
body.rtl .atmb-slides li.atmb-repeater-row .slide-info {
  float: right;
}
body.rtl div.pojo-admin-modal .modal-footer .button {
  left: 30px;
  right: auto;
}
/*= Responsive
---------------------------------------*/
@media (min-width: 1280px) and (max-width: 1600px) {
  body.rtl #page-builder #pb-rows .pb-row {
    padding: 10px 10px 20px 20px;
  }
}
@media (max-width: 1280px) {
  body.rtl #page-builder #pb-rows .pb-row {
    padding: 10px 10px 20px 20px;
  }
  body.rtl body:not(.sticky-menu) #page-builder #pb-rows .pb-row {
    padding: 6px 6px 20px 18px;
  }
}
